@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-fg: #fff;
  --color-bg: #000;
  --color-anim: #f00;
  --color-anim-light: #777;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

body {
  margin: 0 auto;
  font-family: "Crimson text", serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 1.8rem;
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

a {
  color: var(--color-bg);
  text-decoration: none;
}

.title__link {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  border: 1px solid var(--color-fg);
  text-decoration: none;
  /* text-decoration: underline solid var(--color-fg); */
  padding: 0.3em;
  margin: 1em 0;
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  color: var(--color-anim);
  border: 1px solid var(--color-anim);
  /* text-decoration: underline solid var(--color-anim); */
}
@media (max-width: 55em) and (orientation: landscape ) {
  .show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
  }
  .title__link {
    margin: 0.5em 0;
  }
}

p {
  margin: 0;
}

.poeme {
  width: 95vw;
  max-width: 700px;
  max-height: 90vh;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color-fg);
  border-radius: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

@media (max-width: 55em) and (orientation: landscape ) {
  .poeme {
    font-size: 2rem;
    width: 91vw;
    max-width: 52em;
  }
}

.texte {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* Modifications spécifiques */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  color: var(--color-fg);
  cursor: pointer;
  margin: 1.62em;
  padding: 0.3em;
  color: #fff;
}

/* .button:hover, */
/* .button:focus { */
/*   padding: 0.3em; */
/* } */

.button.menu {
  z-index: 110;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0.2em;
  margin: 0;
  width: 2.2em;
  height: 2.2em;
  outline: none;

  svg {
    fill: #fff;
    transform: rotate(90deg);
  }

  svg.rotation {
    transform: rotate(270deg);
  }
}

.button.son {
  z-index: 90;
  display: inline-block;
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  outline: none;

  svg {
    fill: #fff;
  }

  svg.rotation {
    transform: rotate(180deg);
  }
}

.none {
  display: none;
}

.pagetitre {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: rgba(0,0,0,0.5);
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.hidden {
  display: none;
}

.pagetitre .credit {
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

  a {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  border-bottom: 1px solid var(--color-fg);
  /* text-decoration: underline solid var(--color-fg); */
  }
  a:hover,
  a:active,
  a:focus {
  color: var(--color-anim);
  border-bottom: 1px solid var(--color-anim);
  /* text-decoration: underline solid var(--color-anim); */
  }
}

audio {
  visibility: hidden;
}

.loading {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease-in-out 0.4s;
  background: var(--color-bg);
}
.loading p {
  position: absolute;
  font-size: 5em;
  color: var(--color-fg);
  margin: 0;
}
.loading p:nth-child(2) {
  font-size: 5em;
  animation: loadingFade 1s ease infinite;
}

.loaded .loading {
  opacity: 0;
  z-index: -1;
}
.loaded .conteneur {
  opacity: 1;
}

@keyframes loadingFade{
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.progressbar {
  margin: 100px 20px 20px 20px;
  width: 200px;
  height: 7px;
  position: relative;
}
