@charset "UTF-8";
/* Import */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */html{line-height:1.15; /* 1 */-webkit-text-size-adjust:100% /* 2 */}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */body{margin:0}
/**
 * Render the `main` element consistently in IE.
 */main{display:block}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */h1{font-size:2em;margin:.67em 0}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box; /* 1 */height:0; /* 1 */overflow:visible /* 2 */}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */pre{font-family:monospace,monospace; /* 1 */font-size:1em /* 2 */}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */a{background-color:transparent}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */abbr[title]{border-bottom:none; /* 1 */text-decoration:underline; /* 2 */-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted /* 2 */}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */b,strong{font-weight:bolder}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */code,kbd,samp{font-family:monospace,monospace; /* 1 */font-size:1em /* 2 */}
/**
 * Add the correct font size in all browsers.
 */small{font-size:80%}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */img{border-style:none}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */button,input,optgroup,select,textarea{font-family:inherit; /* 1 */font-size:100%; /* 1 */line-height:1.15; /* 1 */margin:0 /* 2 */}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */button,input{ /* 1 */overflow:visible}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */button,select{ /* 1 */text-transform:none}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
/**
 * Remove the inner border and padding in Firefox.
 */[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
/**
 * Restore the focus styles unset by the previous rule.
 */[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
/**
 * Correct the padding in Firefox.
 */fieldset{padding:.35em .75em .625em}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; /* 1 */color:inherit; /* 2 */display:table; /* 1 */max-width:100%; /* 1 */padding:0; /* 3 */white-space:normal /* 1 */}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */progress{vertical-align:baseline}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */textarea{overflow:auto}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; /* 1 */padding:0 /* 2 */}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */[type=search]{-webkit-appearance:textfield; /* 1 */outline-offset:-2px /* 2 */}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */[type=search]::-webkit-search-decoration{-webkit-appearance:none}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */::-webkit-file-upload-button{-webkit-appearance:button; /* 1 */font:inherit /* 2 */}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */details{display:block}
/*
 * Add the correct display in all browsers.
 */summary{display:list-item}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/**
 * Add the correct display in IE 10.
 */[hidden],template{display:none}@font-face{font-family:Crimson Text;src:url(fonts/crimson-roman-webfont.woff2) format("woff2"),url(fonts/crimson-roman-webfont.woff) format("woff");font-weight:400;font-style:normal}:root{--color-fg:#fff;--color-bg:#000;--color-anim:red;--color-anim-light:#777}body,html{width:100%;height:100%;overflow:hidden;background-color:#000}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%;-webkit-tap-highlight-color:transparent;word-break:break-word}::-moz-selection{color:#000;color:var(--color-bg);background:#fff;background:var(--color-fg)}::selection{color:#000;color:var(--color-bg);background:#fff;background:var(--color-fg)}body{margin:0 auto;font-family:Crimson text,serif;quotes:"«\00A0" "\00A0»" "“" "”";font-size:1.8rem;color:#fff;color:var(--color-fg);letter-spacing:.01rem;line-height:1.62}a{color:#000;color:var(--color-bg)}.title__link,a{text-decoration:none}.title__link{margin:0;padding:0;color:#fff;color:var(--color-fg);border:1px solid #fff;border:1px solid var(--color-fg);
  /* text-decoration: underline solid var(--color-fg); */padding:.3em;margin:1em 0}.title__link:active,.title__link:focus,.title__link:hover{color:red;color:var(--color-anim);border:1px solid red;border:1px solid var(--color-anim)
  /* text-decoration: underline solid var(--color-anim); */}p{margin:0}.poeme{width:95vw;max-width:700px;max-height:90vh;background:rgba(0,0,0,.6);color:#fff;color:var(--color-fg);border-radius:0;overflow:hidden;-webkit-overflow-scrolling:touch;padding:20px}.texte{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */}
/* Modifications spécifiques */button{background:none;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit}.button{color:var(--color-fg);cursor:pointer;margin:1.62em;padding:.3em;color:#fff}
/* .button:hover, */
/* .button:focus { */
/*   padding: 0.3em; */
/* } */.button.menu{z-index:110;display:inline-block;position:absolute;top:0;left:.2em;margin:0;width:2.2em;height:2.2em;outline:none}.button.menu svg{fill:#fff;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.button.menu svg.rotation{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.button.son{z-index:90;display:inline-block;position:absolute;top:.1em;right:.2em;margin:0;width:1.5em;height:1.5em;outline:none}.button.son svg{fill:#fff}.button.son svg.rotation{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.none,.pagetitre{display:none}.pagetitre{position:absolute;top:0;left:0;width:100vw;height:100vh;height:-moz-calc(var(--vh,1vh) * 100);height:calc(var(--vh, 1vh) * 100);z-index:100;background:rgba(0,0,0,.5)}.show{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center}.container{width:100%}.hidden{display:none}.pagetitre .credit{font-size:.6em;position:absolute;bottom:0;left:0;text-align:center;width:100%;margin:0 auto;padding:1em}.pagetitre .credit a{margin:0;padding:0;color:#fff;color:var(--color-fg);border-bottom:1px solid #fff;border-bottom:1px solid var(--color-fg)
  /* text-decoration: underline solid var(--color-fg); */}.pagetitre .credit a:active,.pagetitre .credit a:focus,.pagetitre .credit a:hover{color:red;color:var(--color-anim);border-bottom:1px solid red;border-bottom:1px solid var(--color-anim)
  /* text-decoration: underline solid var(--color-anim); */}audio{visibility:hidden}.loading{z-index:1000;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;position:fixed;opacity:1;left:0;right:0;top:0;bottom:0;-webkit-transition:all 1s ease-in-out .4s;-o-transition:all 1s ease-in-out .4s;-moz-transition:all 1s ease-in-out .4s;transition:all 1s ease-in-out .4s;background:#000;background:var(--color-bg)}.loading p{position:absolute;font-size:5em;color:#fff;color:var(--color-fg);margin:0}.loading p:nth-child(2){font-size:5em;-webkit-animation:loadingFade 1s ease infinite;-moz-animation:loadingFade 1s ease infinite;animation:loadingFade 1s ease infinite}.loaded .loading{opacity:0;z-index:-1}.loaded .conteneur{opacity:1}@-webkit-keyframes loadingFade{0%{opacity:1}50%{opacity:0}to{opacity:1}}@-moz-keyframes loadingFade{0%{opacity:1}50%{opacity:0}to{opacity:1}}@keyframes loadingFade{0%{opacity:1}50%{opacity:0}to{opacity:1}}.progressbar{margin:100px 20px 20px;width:200px;height:7px;position:relative}@media (min-width:18.75em){ /* 300px */body{
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */font-size:-moz-calc(18px + 8 * ((100vw - 300px)/980));font-size:calc(18px + 8 * ((100vw - 300px) / 980))}}@media screen and (min-width:80em){ /* 1280 px */body{font-size:2.6rem}}@media (max-width:55em) and (orientation:landscape){.show{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding-top:2em}.title__link{margin:.5em 0}.poeme{font-size:2rem;width:91vw;max-width:52em}}